$bottomLineColor: rgba(0, 0, 0, 0.12);
$bottomLineFocusColor: #4285f4;
$labelFocusColor: #4285f4;
$labelColor: rgba(0, 0, 0, 0.56);
$inputColor: rgba(0, 0, 0, 0.86);
$error: #ff7006;
$fontWeight300: 300;

@mixin bottom-line {
  height: 1px;
  position: absolute;
  bottom: 0;
}

@mixin line-animation {
  -webkit-transition: 1s cubic-bezier(.47, .47, .23, .98);
  -moz-transition: 1s cubic-bezier(.47, .47, .23, .98);
  -ms-transition: 1s cubic-bezier(.47, .47, .23, .98);
  -o-transition: 1s cubic-bezier(.47, .47, .23, .98);
  transition: 1s cubic-bezier(.47, .47, .23, .98);
}

.input-group {
  float: left;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  position: relative;

  input:not([type="radio"]),
  input:not([type="checkbox"]) {
    border: none;
    outline: 0;
    height: 24px;
    font-size: 14px;
    margin-top: 16px;
    position: relative;
    z-index: 2;
    width: 100%;
    color: $inputColor;
    background-color: transparent;
  }

  label {
    font-size: 14px;
    position: absolute;
    bottom: -2px;
    left: 0;
    color: $labelColor;
    z-index: 1;
    -webkit-transition: 0.3s cubic-bezier(.47, .47, .23, .98);
    -moz-transition: 0.3s cubic-bezier(.47, .47, .23, .98);
    -ms-transition: 0.3s cubic-bezier(.47, .47, .23, .98);
    -o-transition: 0.3s cubic-bezier(.47, .47, .23, .98);
    transition: 0.3s cubic-bezier(.47, .47, .23, .98);
  }

  .animate-line {
    @include bottom-line;
    @include line-animation;
    z-index: 1;
    height: 2px;
    width: 0;
    background: $bottomLineFocusColor;
  }

  .bottom-line {
    @include bottom-line;
    width: 100%;
    background: $bottomLineColor;
  }

  &.is-not-empty {
    label {
      bottom: 26px;
      font-size: 12px;
      font-weight: 300;
      color: $labelColor;
    }

    .animate-line {
      width: 0;
    }
  }

  &.is-focus {
    label {
      bottom: 26px;
      font-size: 12px;
      color: $labelFocusColor;
      font-weight: 300;
    }

    .animate-line {
      width: 100%;
    }
  }

  &.is-error {

    input:not([type="checkbox"]),
    input:not([type="radio"]) {
    }

    label {
      color: $error;
    }

    .animate-line {
      background: $error;
      width: 100%;
    }

    .error {
      font-size: 12px;
      color: rgba($error, 0.86);
      position: absolute;
      padding: 5px 0;
    }

  }

}